<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Important Dates</h3>
	</div>
  <div class="panel-body list-group important-dates-panel">
  	<a href="" class="list-group-item" ng-repeat="date in importantDates">
  		<h4 class="list-group-item-heading">{{ date.startDate }} - {{ date.endDate }}</h4>
      <p class="list-group-item-text">
      	<b>{{ date.name }}</b><br />
        <small>{{ date.location }}</small><br />
        {{ date.description }}
      </p>
  	</a>
  </div>
</div>

<!-- Twitter -->
<div class="hidden-sm hidden-xs">
	<a class="twitter-timeline" data-height="600" data-theme="light" href="https://twitter.com/SwansboroHOSA">Tweets by SwansboroHOSA</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>