<ul class="nav nav-tabs">
	<li class="active"><a href="#announcements" data-toggle="tab">Announcements</a></li>
  <li><a href="#officerMessages" data-toggle="tab">Messages from the Officers</a></li>
  <li><a href="#healthArticles" data-toggle="tab">Health Articles</a></li>
	<li><a href="#links" data-toggle="tab">Links</a></li>
  <li><a href="#files" data-toggle="tab">Files</a></li>
</ul>

<div id="tab-container" class="container col-xs 12">
	<div id="my-tab-content" class="tab-content">
    
    <!-- announcements -->
		<div id="announcements" class="tab-pane fade active in">
      <div class="container">
      	<div class="section-header">
      		<h3>Edmodo Class Codes</h3>
          <hr />
      	</div>
        <ul>
          <li><b>HS1 Fall 2016</b> - 3k9ysj</li>
          <li><b>HS2 Fall 2016</b> - 7ufx7e</li>
          <li><b>Pharm Tech</b> - 8z3hqn</li>
          <li><b>HOSA</b> - c8kvs9</li>
        </ul>

        <br />
      	
        <div class="section-header">
        	<h3>Remind (81010)</h3>
          <hr />
        </div>
        <ul>
          <li><b>HS1</b> - @healthsci1</li>
          <li><b>HS2</b> - @borohs2</li>
          <li><b>Pharm Tech</b> - @phartech</li>
          <li><b>HS1HOSA</b> - @borohosa</li>
        </ul>
      </div>
		</div>
    
    <!-- officerMessages -->
		<div id="officerMessages" class="tab-pane fade">
      <div class="container">
      	<div class="section-header">
      		<h3>Messages from your HOSA Officers</h3>
          <hr />
      	</div>
      </div>
		</div>
    
    <!-- healthArticles -->
		<div id="healthArticles" class="tab-pane fade">
      <div class="container">
        <div class="section-header">
        	<h3>Health Articles</h3>
          <hr />
        </div>
        <ul>
          <li><a href="https://www.sciencedaily.com/releases/2017/01/170131104427.htm" target="_blank">Spider silk demonstrates Spider man-like abilities <i class="fa fa-external-link"></i></a></li>
          <li><a href="http://www.cnn.com/2017/02/01/health/fast-food-packaging-chemicals-pfas-study/index.html" target="_blank">Report finds chemicals in one-third of fast food packaging <i class="fa fa-external-link"></i></a></li>
        </ul>
      </div>
		</div>
    
    <!-- links -->
    <div id="links" class="tab-pane fade">
    	<div class="container">
    		<div class="section-header">
    			<h3>Useful Links</h3>
          <hr />
    		</div>
        
        <ul>
          <li><a href="http://www.rulesonline.com" target="_blank">Robert's Rules of Order</a></li>
          <li><a href="http://learn.genetics.utah.edu/content/addiction/drugs/mouse.html" target="_blank">Effects of Drug Use</a></li>
          <li><a href="http://www.mypyramid.gov/" target="_blank">Food Guide Pyramid</a></li>
          <li><a href="http://www.howstuffworks.com/" target="_blank">Cool website about "How Stuff Works"</a></li>
          <li><a href="http://www.edheads.org/activities/knee/" target="_blank">Virtual Surgery</a></li>
          <li><a href="http://www.cnn.com/HEALTH/" target="_blank">CNN Health</a></li>
          <li><a href="http://www.healthnews.com/" target="_blank">Health News</a></li>
          <li><a href="http://weird.healthdiaries.com/" target="_blank">Weird Health News</a></li>
          <li><a href="http://publish.gwinnett.k12.ga.us/gcps/wcm/connect/gcps_public_content_enus/qpts" target="_blank">Quality Teaching Strategies</a></li>
          <li><a href="http://nchosa.org" target="_blank">NC HOSA</a></li>
          <li><a href="http://hosa.org" target="_blank">National HOSA</a></li>
          <li><a href="http://www.playbuzz.com/kylesoutherland10/which-hosa-competitive-event-are-you" target="_blank">Which HOSA Competitive Event Are You?</a></li>
        </ul>
    	</div>
    </div>
    
    <!-- files -->
    <div id="files" class="tab-pane fade">
      <div class="container">
        <div class="section-header">
        	<h3>Files</h3>
          <hr />
        </div>
        
        <p ng-repeat="file in schoolFiles" class="text-muted">
          <i class="fa fa-file-o"></i>&nbsp;&nbsp;<a href="{{ file.downloadUrl }}" target="_blank">{{ file.filename }}</a>
        </p>
      </div>
    </div>
    
	</div>
</div>
