<div class="contact-address text-right">
  <h4>
    161 Queens Creek Road<br>
    Attn: HOSA<br>
    Swansboro, NC 28584
  </h4>
  
  <br />
  
  <h4>
    Swansboro High School<br />
    <a href="tel:9103264300">(910) 326-4300</a>
    &nbsp;&nbsp;&nbsp;
    <i class="fa fa-phone"></i>
  </h4>
  
  <br />
  
  <h4>
    Leslie Dick, HOSA Advisor<br />
    <a href="mailto:&#108;&#101;&#115;&#108;&#105;&#101;&#46;&#100;&#105;&#99;&#107;&#64;&#111;&#110;&#115;&#108;&#111;&#119;&#46;&#107;&#49;&#50;&#46;&#110;&#99;&#46;&#117;&#115;">
      &#108;&#101;&#115;&#108;&#105;&#101;&#46;&#100;&#105;&#99;&#107;&#64;&#111;&#110;&#115;&#108;&#111;&#119;&#46;&#107;&#49;&#50;&#46;&#110;&#99;&#46;&#117;&#115;
    </a>
    &nbsp;&nbsp;
    <i class="fa fa-envelope"></i>
  </h4>
</div>