<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav">Swansboro HOSA</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Competitive Events</a></li>
              <!--<li class="hidden-md hidden-sm hidden-xs"><a href="">Photos</a></li>-->
              <!--<li class="divider"></li>-->
          </ul>
        </li>
        <li><a href="">Contact Us</a></li>
        <li ng-if="user" ng-click="signOut()"><a href=""><i class="fa fa-sign-out"></i> <b>Log Out</b></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="notice notice-error" ng-if="errorNotice">
  <strong>Success:</strong> You are logged out.
</div>